flows (1).json
[{"id":"289b1f95.2cdef","type":"function","z":"402e106f.2ebc8","name":"PreToken","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"GLIdQL2gOoDCdFXLFeaPYUc3EbEROqbUnyvCN9-sql-M\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["c5be1005.b49ca"]]},{"id":"c5be1005.b49ca","type":"http request","z":"402e106f.2ebc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["de376490.d6da88"]]},{"id":"5767db.e3e66824","type":"inject","z":"402e106f.2ebc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["289b1f95.2cdef"]]},{"id":"963ac0a8.11705","type":"debug","z":"402e106f.2ebc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"de376490.d6da88","type":"function","z":"402e106f.2ebc8","name":"Pre Prediction","func":"var rd = global.get('rd')\nvar ad = global.get('ad')\nvar ms = global.get('ms')\nvar st = global.get('st')\nvar token=msg.payload.access_token\nvar instance_id=\"5e25f791-3c7e-437c-81ca-c4d29cbff435\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"R&D Spend\", \"Administration\", \"Marketing Spend\", \"State\"], \"values\": [[rd,ad,ms,st]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["70d13072.488fb"]]},{"id":"70d13072.488fb","type":"http request","z":"402e106f.2ebc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/648f8df8-c7d5-4f10-b7a1-1dab0e48188b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["56d02ce5.43cd34"]]},{"id":"ed6a3e87.2b0fd","type":"ui_form","z":"402e106f.2ebc8","name":"","label":"","group":"d2992bb.4044ad8","order":0,"width":0,"height":0,"options":[{"label":"R&D Spent","value":"rd","type":"number","required":true},{"label":"Administartion","value":"ad","type":"number","required":true},{"label":"Marketing Spent","value":"ms","type":"number","required":true},{"label":"State","value":"st","type":"text","required":true}],"formValue":{"rd":"","ad":"","ms":"","st":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["289b1f95.2cdef"]]},{"id":"c9f74ea8.ce262","type":"ui_text","z":"402e106f.2ebc8","group":"d2992bb.4044ad8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":772.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"56d02ce5.43cd34","type":"function","z":"402e106f.2ebc8","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["963ac0a8.11705","c9f74ea8.ce262"]]},{"id":"d2992bb.4044ad8","type":"ui_group","z":"","name":"Default","tab":"ef984145.5031e","disp":true,"width":"6","collapse":false},{"id":"ef984145.5031e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]